@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
html,
#root {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

pre {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

body {
	width: 100%;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.2rem;

	display: flex;
	justify-content: center;
	align-items: center;
	/*background-image: url(assets/bg/bg.jpg);*/
	background-attachment: fixed;
	background-size: cover;

	background-color: #1B1E1F;
}

.container {
	width: 80%;
	height: auto;
	padding: 10px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*background-color: rgba(255, 255, 255, .1);
	backdrop-filter: blur(10px);*/
	position: relative;
}

.container .player {
	width: 300px;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background-color: orange;*/
}

.container .player .album img {
	width: 200px;
	height: 200px;
	object-fit: cover;

	border-radius: 10px;

	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
}

.container .player .actions {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 5px;
}

.container .player .actions .vol {
	display: none;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.container .player .actions .vol p {
	width: 50px;
	height: 50px;	
	color: #fff;
	font-size: 1.5rem;
	border-radius: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container .player .actions .vol i {
	font-size: 2rem;
	color: gray;
}

.container .options {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
	border-radius: 5px;
}

.container .options .position {
	position: absolute;
	top: -50px;
	right: 20px;
	font-weight: 500;
	color: #fff;

	display: flex;
}

.container .options .position p {
	width: 35px;
	height: 35px;
	border: 1px solid #4c4f50;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container .options .position p:nth-child(1) {
	border-right: none;
	border-top-left-radius: 7px;
}

.container .options .position p:nth-child(2) {
	border-bottom-right-radius: 7px;
}

.container .options .music {
	margin-top: 0px;
	margin-bottom: 60px;
	position: relative;
	width: 100%;
}

.container .options .music p {
	font-size: 1.7rem;
	user-select: none;
	margin-bottom: 50px;
	color: #fff;
	text-align: center;
	
	position: absolute;
	width: 100%;
}

.container .options .controls .controls-buttom {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


.container .options .controls .controls-buttom i:nth-child(2) {
	width: 70px !important;
	height: 70px !important;

	font-size: 1.5rem;
	padding-left: 5px;
}

.container .options .controls .controls-buttom i:nth-child(1) {
	padding-right: 5px;
}

.container .options .controls .controls-buttom i:nth-child(3) {
	padding-left: 5px;
}

.container .options .controls .controls-buttom i {
	width: 55px;
	height: 55px;
	background-color: #1B1E1F;


	color: #fff;
	border-radius: 100px;
	background-color: transparent;
	
	border: 1.5px solid #4c4f50;

	display: flex;
	justify-content: center;	
	align-items: center;
	margin: 5px;
	cursor: pointer;
}

.container .options .controls .controls-range-time {
	width: 100%;
	margin-top: 25px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container .options .controls .controls-range-time i {
	color: #fff;
	font-size: 1.5rem;
	margin-left: 20px;
	cursor: pointer;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 3px;

	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 
				inset -1px -1px 10px rgba(0, 0, 0, 0.8);
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: #1B1E1F;
	width: 20px;
	height: 20px;
	border-radius: 100px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 
				inset -1px -1px 10px rgba(0, 0, 0, 0.8);
}

#time-audio {
	cursor: pointer;
	width: 100%;
}

#vol-audio {
	cursor: pointer;
	width: 50%;
}

.anotations {
	height: 100vh;
	position: fixed;

	right: 0;
	top: 0;
}

.anotations .toggle {
	width: 300px !important;
	height: 100%;
	background-color: #1B1E1F;

	position: absolute;
	padding-top: 50px;

	box-shadow: 1px 2px 2px #fff;
	right: -290px;

	transition: .5s ease-in-out;
}

.anotations .toggle .content {
	font-size: 1rem;
	font-weight: 300;
	color: #fff;

	padding: 40px;

	height: 100vh;

	overflow-y: scroll;
	padding-bottom: 100px;
}

.anotations .note .icon {
	top: 170px;
}

.anotations .english {
	z-index: 1000;
}

.anotations .english {
	width: 10px;
	position: absolute;
}

.anotations .english .icon {
	top: 250px;
}

.anotations .toggle .icon {
	left: -45px;

	position: absolute;

	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 15px;
	width: 60px;
	height: 60px;


	z-index: 100000;

	background-color: #1B1E1F;

	border: 1px solid #4c4f50;
}

.anotations .toggle .icon i {
	font-size: 1.5rem;
	color: #fff;
}

@media screen and (max-width: 900px) {
	.container {
		flex-direction: column;
	}

	.container .options {
		margin-top: 10px;
	}

	.container .options .music p {
		font-size: 1.5rem;
	}

	.container .options .position {
		top: -240px;
		right: 20px;
		font-weight: 700;
		color: #fff;
	}

	.container .player .album {
		margin-top: 30px;
	}

	.container .player .album img {
		width: 120px;
		height: 120px;
		margin-top: 20px;
	}
}


